
  <mat-card  class="product-card" [id]="product.id">
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="product-image" [src]="product.image" alt="product image">
    <mat-card-content>
      <p>{{ product.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button color="accent" (click)="onButtonClick()">View Details</button>
    </mat-card-actions>
  </mat-card>
 