.product{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    height: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.product-image{
    width: 75%;
    height: 75%;
    border-radius: 4px;
}