<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row class="toolbar-row">
            <span class="toolbar-title">{{title}}</span>
            <span *ngIf="isProductDetailsPage" style="text-align: right">
                <nav>
                    <a mat-raised-button color="accent" routerLink="/products">Products List</a>
                </nav>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <mat-toolbar color="primary" class="footer-nav-bar">
        <p>© 2025 Product</p>
    </mat-toolbar>
</div>